<a href="https://colab.research.google.com/github/felipemoreia/Awari/blob/master/Exercicios_unidade_4_Manipulacao_de_Dados_Parte_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Awari - Data Science

## Exercícios Unidade 4 - Parte 4

Neste Jupyter notebook você irá resolver uma exercícios utilizando a linguagem Python e a biblioteca Pandas.

Todos os datasets utilizados nos exercícios estão salvos na pasta **datasets**.

Todo o seu código deve ser executado neste Jupyter Notebook. Por fim, se desejar, revise as respostas com o seu mentor.

### Tarefa 1. Importe o dataset e salve os dados em um dataframe

Os dados estão salvos no arquivo ***datasets/US_Crime_Rates_1960_2014.csv***.

Este dataset contém dados de crimes ocorridos nos Estados Unidos no período de 1960 até 2014.

Salve os dados em uma variável de nome *crime*.

In [0]:
import pandas as pd

In [0]:
crime = pd.read_csv('US_Crime_Rates_1960_2014.csv', parse_dates=['Year'])

In [0]:
crime.tail()

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
50,2010-01-01,309330219,10363873,1251248,9112625,14772,85593,369089,781844,2168457,6204601,739565
51,2011-01-01,311587816,10258774,1206031,9052743,14661,84175,354772,752423,2185140,6151095,716508
52,2012-01-01,313873685,10219059,1217067,9001992,14866,85141,355051,762009,2109932,6168874,723186
53,2013-01-01,316497531,9850445,1199684,8650761,14319,82109,345095,726575,1931835,6018632,700294
54,2014-01-01,318857056,9475816,1197987,8277829,14249,84041,325802,741291,1729806,5858496,689527

### Tarefa 2. Qual o tipo de dados em cada coluna?

In [0]:
crime.dtypes

Year                  datetime64[ns]
Population                     int64
Total                          int64
Violent                        int64
Property                       int64
Murder                         int64
Forcible_Rape                  int64
Robbery                        int64
Aggravated_assault             int64
Burglary                       int64
Larceny_Theft                  int64
Vehicle_Theft                  int64
dtype: object

### Tarefa 3. Converta o tipo de dado da coluna Year para o tipo datetime

*Dica: use a função to_datetime() do Pandas*

In [0]:
crime['Year'] = crime.Year.dt.year

In [0]:
crime.tail()

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
50,2010,309330219,10363873,1251248,9112625,14772,85593,369089,781844,2168457,6204601,739565
51,2011,311587816,10258774,1206031,9052743,14661,84175,354772,752423,2185140,6151095,716508
52,2012,313873685,10219059,1217067,9001992,14866,85141,355051,762009,2109932,6168874,723186
53,2013,316497531,9850445,1199684,8650761,14319,82109,345095,726575,1931835,6018632,700294
54,2014,318857056,9475816,1197987,8277829,14249,84041,325802,741291,1729806,5858496,689527

### Tarefa 4. Configure a coluna Year como index do DataFrame.

*Dica: use a função set_index() do Pandas*

In [0]:
crime.index = crime['Year']
crime.drop(['Year'], axis=1, inplace=True)

In [0]:
crime.head()

,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,,
1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
1963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
1964,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

### Tarefa 5. Remova a coluna Total do DataFrame.

In [0]:
crime.drop(['Total'], axis=1, inplace=True)

### Tarefa 6. De acordo com esses dados, qual foi o ano com maior número de assassinatos? 

*Dica: use a coluna murder*

In [0]:
crime.sort_values(by='Murder',ascending=False)['Murder']

Year
1991    24700
1993    24530
1992    23760
1990    23440
1994    23330
1980    23040
1981    22520
1995    21610
1989    21500
1979    21460
1982    21010
1974    20710
1988    20680
1986    20613
1975    20510
1987    20096
1996    19650
1973    19640
1978    19560
1983    19310
1977    19120
1985    18980
1976    18780
1984    18690
1972    18670
1997    18208
1971    17780
2006    17030
2007    16929
1998    16914
2005    16740
2003    16528
2008    16442
2002    16229
2004    16148
2001    16037
1970    16000
2000    15586
1999    15522
2009    15399
2012    14866
2010    14772
1969    14760
2011    14661
2013    14319
2014    14249
1968    13800
1967    12240
1966    11040
1965     9960
1964     9360
1960     9110
1961     8740
1963     8640
1962     8530
Name: Murder, dtype: int64

### Awari -  <a href="https://awari.com.br/"> awari.com.br</a>