<a href="https://colab.research.google.com/github/felipemoreia/Awari/blob/master/Exercicios_unidade_4_Manipulacao_de_Dados_Parte_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Awari - Data Science

## Exercícios Unidade 4 - Parte 5

Neste Jupyter notebook você irá resolver uma exercícios utilizando a linguagem Python e a biblioteca Pandas.

Todos os datasets utilizados nos exercícios estão salvos na pasta **datasets**.

Todo o seu código deve ser executado neste Jupyter Notebook. Por fim, se desejar, revise as respostas com o seu mentor.

### Tarefa 1. Importe o dataset e salve os dados em um dataframe

Os dados estão salvos no arquivo ***datasets/iris.csv***.

Os dados consistem de 50 unidades amostrais de três espécies (setosa,
virginica, versicolor) de íris (uma espécie de planta), ou seja, temos um total de 150 observações. De cada uma delas mediu-se quatro variáveis morfológicas:
comprimento e largura da sépala e comprimento e largura da pétala.

Salve os dados em um DataFrame de nome *iris*.

In [0]:
import pandas as pd

In [0]:
iris = pd.read_csv('iris.csv', names=['Comp-Sepal', 'Larg-Sepal', 'Comp-petal', 'Larg-petal', 'Especie'])

In [0]:
iris.head()

   Comp-Sepal  Larg-Sepal  Comp-petal  Larg-petal      Especie
0         5.1         3.5         1.4         0.2  Iris-setosa
1         4.9         3.0         1.4         0.2  Iris-setosa
2         4.7         3.2         1.3         0.2  Iris-setosa
3         4.6         3.1         1.5         0.2  Iris-setosa
4         5.0         3.6         1.4         0.2  Iris-setosa

In [0]:
iris.tail()

     Comp-Sepal  Larg-Sepal  Comp-petal  Larg-petal         Especie
145         6.7         3.0         5.2         2.3  Iris-virginica
146         6.3         2.5         5.0         1.9  Iris-virginica
147         6.5         3.0         5.2         2.0  Iris-virginica
148         6.2         3.4         5.4         2.3  Iris-virginica
149         5.9         3.0         5.1         1.8  Iris-virginica

### Tarefa 2. Mostre as 10 primeira linhas do dataset.

In [0]:
iris.head(10)

   Comp-Sepal  Larg-Sepal  Comp-petal  Larg-petal      Especie
0         5.1         3.5         1.4         0.2  Iris-setosa
1         4.9         3.0         1.4         0.2  Iris-setosa
2         4.7         3.2         1.3         0.2  Iris-setosa
3         4.6         3.1         1.5         0.2  Iris-setosa
4         5.0         3.6         1.4         0.2  Iris-setosa
5         5.4         3.9         1.7         0.4  Iris-setosa
6         4.6         3.4         1.4         0.3  Iris-setosa
7         5.0         3.4         1.5         0.2  Iris-setosa
8         4.4         2.9         1.4         0.2  Iris-setosa
9         4.9         3.1         1.5         0.1  Iris-setosa

### Tarefa 3. Os dados estão sem identificação de colunas, assim, adicione colunas ao dataset.

Nomes das colunas:
* 1 - sepal_length (in cm)
* 2 - sepal_width (in cm)
* 3 - petal_length (in cm)
* 4 - petal_width (in cm)
* 5 - class


*Dica: utilize o atributo columns do DataFrame*

In [0]:
iris.columns = ['sepal_length (in cm)', 'sepal_width (in cm)', 'petal_length (in cm)', 'petal_width (in cm)', 'class']

### Tarefa 4.  Verifique se existem valores missing (ausentes) no DataFrame?

*Dica: use o método isnull() do Pandas em conjunto com o método sum()*

In [0]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
sepal_length (in cm)    150 non-null float64
sepal_width (in cm)     150 non-null float64
petal_length (in cm)    150 non-null float64
petal_width (in cm)     150 non-null float64
class                   150 non-null object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [0]:
iris.isnull().sum()

sepal_length (in cm)    0
sepal_width (in cm)     0
petal_length (in cm)    0
petal_width (in cm)     0
class                   0
dtype: int64

### Tarefa 5.  Atribua o valor NaN as linhas 10 até 19 da coluna 'petal_length'.

In [0]:
import numpy as np
iris.loc[10:20,'petal_length (in cm)'] = np.nan

In [0]:
iris[:25]['petal_length (in cm)']

0     1.4
1     1.4
2     1.3
3     1.5
4     1.4
5     1.7
6     1.4
7     1.5
8     1.4
9     1.5
10    1.0
11    1.0
12    1.0
13    1.0
14    1.0
15    1.0
16    1.0
17    1.0
18    1.0
19    1.0
20    1.0
21    1.5
22    1.0
23    1.7
24    1.9
Name: petal_length (in cm), dtype: float64

### Tarefa 6. Agora substitua os valores NaN por 1.0

*Dica: use o método fillna() do DataFrame*

In [0]:
iris.fillna(1.0, inplace=True)

### Tarefa 7. Remova a coluna 'class'

In [0]:
iris.drop('class', axis=1, inplace=True)

### Tarefa 8.  Atribua NaN a todas as colunas das 3 primeiras linhas.

In [0]:
# Seu código

iris.loc[0:3] = np.nan
iris.head()

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm)
4,5.0,3.6,1.4,0.2
5,5.4,3.9,1.7,0.4
6,4.6,3.4,1.4,0.3
7,5.0,3.4,1.5,0.2
8,4.4,2.9,1.4,0.2

### Tarefa 9. Remova as linhas que possuem NaN.

*Dica: utilize o método dropna() do DataFrame*

In [0]:
# Seu código

iris.dropna(axis=0, inplace=True)

### Tarefa 10. Reinicie o index do DataFrame para que ele inicie a partir do zero novamente.

*Dica: utilize o método reset_index() do DataFrame*

In [0]:
iris.reset_index()
iris.drop(['index'], axis=1, inplace=True)

In [0]:
iris

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm)
0,5.0,3.6,1.4,0.2
1,5.4,3.9,1.7,0.4
2,4.6,3.4,1.4,0.3
3,5.0,3.4,1.5,0.2
4,4.4,2.9,1.4,0.2
...,...,...,...,...
141,6.7,3.0,5.2,2.3
142,6.3,2.5,5.0,1.9
143,6.5,3.0,5.2,2.0
144,6.2,3.4,5.4,2.3
145,5.9,3.0,5.1,1.8

### Awari -  <a href="https://awari.com.br/"> awari.com.br</a>