<a href="https://colab.research.google.com/github/felipemoreia/Awari/blob/master/Exercicios_unidade_4_Manipulacao_de_Dados_Parte_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Awari - Data Science

## Exercícios Unidade 4 - Parte 2

Neste Jupyter notebook você irá resolver uma série de exercícios utilizando a linguagem Python e a biblioteca Pandas.

Você utilizará um dataset com dados de jogos de futebol da Europa.

Todo o seu código deve ser executado neste Jupyter Notebook. Por fim, se desejar, revise as respostas com o seu mentor.

### Passo 1. Importe o dataset e salve os dados em um dataframe

Os dados estão salvos no arquivo ***datasets/euro2012.csv***.

Salve os dados em uma variável de nome *euro12*.

In [0]:
import pandas as pd

In [0]:
df = pd.read_csv('euro2012.csv.')

In [0]:
df.head()

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19

### Passo 2. Quantas o tamanho do dataset (linhas e colunas)?

In [0]:
df.shape

(16, 35)

### Passo 3. Quantos e quais times participaram do campeonato?

In [0]:
len(df['Team'].unique())

16

### Passo 4. Crie um novo dataframe com as colunas *Team*, *Yellow Cards* e *Red Cards*.

In [0]:
dfstats = df[['Team', 'Yellow Cards', 'Red Cards']]
dfstats

                   Team  Yellow Cards  Red Cards
0               Croatia             9          0
1        Czech Republic             7          0
2               Denmark             4          0
3               England             5          0
4                France             6          0
5               Germany             4          0
6                Greece             9          1
7                 Italy            16          0
8           Netherlands             5          0
9                Poland             7          1
10             Portugal            12          0
11  Republic of Ireland             6          1
12               Russia             6          0
13                Spain            11          0
14               Sweden             7          0
15              Ukraine             5          0

### Passo 5. Ordene os times pela quantidade de cartões amarelos.

In [0]:
dfstats.sort_values(by='Yellow Cards', ascending=False)

                   Team  Yellow Cards  Red Cards
7                 Italy            16          0
10             Portugal            12          0
13                Spain            11          0
0               Croatia             9          0
6                Greece             9          1
1        Czech Republic             7          0
9                Poland             7          1
14               Sweden             7          0
4                France             6          0
11  Republic of Ireland             6          1
12               Russia             6          0
3               England             5          0
8           Netherlands             5          0
15              Ukraine             5          0
2               Denmark             4          0
5               Germany             4          0

### Passo 6. Qual a média de cartões amarelos por time?

In [0]:
dfstats['Yellow Cards'].mean()

7.4375

### Passo 7. Selecione os times que fizeram mais de 6 gols.

In [0]:
df.loc[df['Goals']>6]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18

### Passo 8. Quais times que fizeram gol de pênalti?

In [0]:
df.loc[df['Penalty goals']>0]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18

### Passo 9. Mostre somente a coluna "Shooting Accuracy" para os times *England*, *Italy* e *Russia*

In [0]:
englishteam = df['Team']=='England'
russianteam = df['Team']=='Russia'
italianteam = df['Team']=='Italy'
df.loc[englishteam | russianteam | italianteam]['Shooting Accuracy']

3     50.0%
7     43.0%
12    22.5%
Name: Shooting Accuracy, dtype: object

### Passo 10. Qual o time que fez mais gols?

In [0]:
df.sort_values(by='Goals',ascending=False)['Team']

13                  Spain
5                 Germany
7                   Italy
10               Portugal
3                 England
6                  Greece
12                 Russia
14                 Sweden
0                 Croatia
1          Czech Republic
2                 Denmark
4                  France
8             Netherlands
9                  Poland
15                Ukraine
11    Republic of Ireland
Name: Team, dtype: object


### Awari -  <a href="https://awari.com.br/"> awari.com.br</a>